# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with  defaults from defaults.sls ##}
{% import_yaml 'tomcat/defaults.yaml' as default_settings %}

{##
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}
{% import_yaml 'tomcat/osmap.yaml' as os_family_map %}

{% set os_family_map = salt['grains.filter_by'](
  os_family_map,
  grain='os_family',
  merge=salt['pillar.get']('tomcat:lookup'))
%}

{## Merge the flavor_map to the default settings ##}
{% do default_settings.tomcat.update(os_family_map) %}

{# {% set tomcat_pillar = salt['pillar.get']('tomcat') %} #}

{# second import to avoid recursion explosion #}

{# add place for multi instances #}
{% do default_settings.tomcat.update({'instances': {'list': {}}}) %}

{% for instance_name, instance in salt['pillar.get']('tomcat:instances:list', {}).iteritems() %}
	{% import_yaml 'tomcat/defaults.yaml' as d %}
	{% do d.tomcat.update(os_family_map) %}
	{% do default_settings.tomcat.instances.list.update({instance_name : d.tomcat}) %}
{% endfor %}

{## Merge in tomcat:lookup pillar ##}
{% set tomcat = salt['pillar.get'](
    'tomcat',
    default=default_settings.tomcat,
    merge=True
  )
%}



{# {% do tomcat.instances.list.apps1.update({ 'a_boolie': true }) %} #}
{# {% set tomcat = default_settings.tomcat %} #}
